@import "../base.scss";

.container {
  padding: 0px 100px;
  height: auto;
}

@media (min-width: 1920px) {
  .container {
    padding: 0px 350px;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 0px 10px;
  }
}
