@import "../base.scss";

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow-color;
  padding: 8px 100px;
}
.nav-container-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1920px) {
  .nav-container {
    padding: 8px 350px;
  }
}

@media (max-width: 550px) {
  .nav-container {
    padding: 8px 10px;
  }
}