@import "../base.scss";
.card-container {
  display: flex;
  padding: 16px;
  position: relative;
  border-bottom: 1px solid $ultra-light-gray-color;
  cursor: pointer;
}
.container-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 16px;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-price {
  display: inline-block;
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  color: $ultra-dark-gray-color;
}

.product-title {
  margin-top: 32px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: $dark-gray-color;
  margin-bottom: 0px;
}
.product-location {
  position: absolute;
  top: 32px;
  right: 150px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: $dark-gray-color;
}
@media (max-width: 550px) {
  .product-location {
    top: 18px;
    right: 5px;
  }
  .container-img {
    width: 95px;
    height: 95px;
  }
  .product-title {
    margin-top: 16px;
  }
}
